@charset "UTF-8";

/*
 * 메인 화면
 */

#account-data-holder {
    color: var(--soft-black);
}
#account-data-holder .title {
    font-size: 1.2rem;
}
.account-book-selected {
    color: white;
    background-color: var(--primary-color);
}
.account-book-name:not(.account-book-selected):hover {
    background-color: var(--primary-color-faint);
}

/*
 * 가계부 등록 편집
 */
#account-book-list-holder .card,
#category-list-holder .card {
    color: var(--soft-black);
}
#account-book-list-holder .card:hover,
#category-list-holder .card:hover {
    cursor: default;
    color: var(--soft-black);
}
#account-book-list-holder .card:last-child:hover,
#category-list-holder .card:last-child:hover {
    background-color: var(--primary-color-faint);
}
#auth-member-holder {
	color: var(--soft-black);
    min-height: 10rem;
    max-height: 10rem;
    overflow: auto;
}
#category-icon-holder {
    color: #9eeaf9;
    font-size: 2.5rem;
}
